// 颜色
$accentColor = #f79400
$textColor = #4a5568
$borderColor = #eaecef
$codeBgColor = #25293e
$textGrayColor = #a0a5b9
$badgeTipColor = #f79400
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
// 布局
$homePageWidth = 1450px
$sidebarWidth = 260px
$contentWidth = 800px
$footerHeight = 50px
// z-index
$navbarIndex = 100
$sidebarIndex = $navbarIndex - 1
$footerIndex = 100

text-overflow-lines(lineNum)
  padding 0 !important
  display -webkit-box
  overflow hidden
  -webkit-box-orient vertical
  -webkit-line-clamp lineNum